version: "3.9"
services:
  sonto:
    image: "sonto"
    build: 
      context: .
    environment: 
      STAGE: "dev"
      DB_HOST: "postgres"
      DB_PORT: 5432
      DB_USERNAME: "postgres"
      DB_PASSWORD: "postgres"
      DB_DATABASE: "domain-information"
      VIRUS_TOTAL_ENDPOINT: "https://www.virustotal.com/api/v3/domains"
      WHOIS_ENDPOINT: "https://www.whoisxmlapi.com/whoisserver/WhoisService"
      VIRUS_TOTAL_API_KEY: "<---------->"
      WHOIS_API_KEY: "<---------->"
      PERIOD_AGO_TO_SCAN: "30*24*60*60*1000"
    depends_on: 
      postgres: 
        condition: service_started
    networks: 
      - default
    ports:
      - 3000:3000

  postgres:
    image: "postgres"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: domain-information
    ports:
      - "3002:5432"
    volumes: 
      - db:/var/lib/postgresql/data
    networks: 
      - default

networks:
  default:
volumes:
  db:
    driver: local